<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/journal/editJournal}" th:object = "${journal}" method="POST">
                <label for="group_shif">Group Shifrovania</label>
                <input type="text" id="group_shif" name="group_shifr" th:field = "*{group_shifr}" class="form-control" placeholder="Группа шифры" value="${journal.group_shif}" />

                <label for="group_teach">Book Author</label>
                <input type="text" id="group_teach" name="Group_teacher" th:field = "*{group_teach}" class="form-control" placeholder="Группа мұғалімі" value="${journal.group_teach}"/>


                <label for="group_num">Group Numer</label>
                <input type="text" id="group_num" name="group_num" th:field = "*{group_num}" class="form-control" placeholder="Группа номері" value="${journal.group_num}"/>
                <br/>
                <button type="submit" class="btn btn-primary">OK</button>

            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>
